

@{
    ViewBag.Title = "demoUpload";
}

<h2>檔案上傳範例</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="photo"/>
    <br />
    <input type="submit" value="開始上傳" class="btn btn-primary"/>
</form>
