
@{
    ViewBag.Title = "demoForm";
}


    <form method="post">
            <p>請輸入數字</p>
            <br />
            <input type="text" name="txtA" />+
            <input type="text" name="txtB" />=@ViewBag.ANS
            <br />
            <p><input type="submit" value="OK" /></p>

        </form>




